<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page</title>
    style
        include index.css

    

</head>

<body>
    <div class="sign1">
        <form action="/" method="post" class="signu">
            <div class="sign2">
                <div class="cont" id="contt">User Name:</div>
                <input type="text" name="name" id="name" class="s1">
            </div>
            <div class="sign2">
                <div class="cont">Password:</div>
                
                <input type="password"  name="password" id="password" class="s1">
            </div>
            <div class="sign2">
                <div class="cont">Email:</div>
                
                <input type="text"  name="email" id="email" class="s1">
            </div>
            <button class="signb">Sign Up</button>
            
        </form>
    </div>
    

</body>

</html>